In [6]:
#1. Verify value is integer

n=1.5
n==int(n)

#this will result false - If I change n to an integer value the result will be true

False

In [11]:
#2 Verify value is even

n=4
n % 2==0

#this will result in true since I have made n as a even number = If i Put an odd number the result will be false

True

In [16]:
#3. Check larger of two numbers

first=4
second=6

first - second > 0

#my current inputs will result in false - if i had the numbers other way around I will get a True

False

In [23]:
#4. verify if a number is a multiple of another number

n = 24
m = 3

n % m ==0 or m % n==0

True

In [24]:
#5. calculate interest

capital = 200
time = 3
rate = 0.03

interest = capital*time*rate
print(interest)

18.0

In [25]:
#6. New Capital

capital=200
time=3
rate=0.03

newcapital = capital * (1+rate)**time
print(newcapital)

218.5454

In [28]:
#7. BMI

weight_kg = 90
height_meter=1.778

BMI = weight_kg / (height_meter**2)
print(BMI)

28.469444693991427

In [29]:
#8. Golden Ratio

gr = (1+(5**0.5))/2
print(gr)

1.618033988749895

In [33]:
#9. NPV

invt=10000
cf1=2000
cf2=3000
cf3=4000
cf4=4000
cf5=5000
rate=0.1

NPV=cf1/((1+rate)**1)+cf2/((1+rate)**2)+cf3/((1+rate)**3)+cf4/((1+rate)**4)+cf5/((1+rate)**5) - invt
print(NPV)

3139.440301519393

In [10]:
#10. Name and Age/Birthdate

name=input("what is your name")
age=input("what is your age")

age1=int(age)

birthyear=2019-age1


print(birthyear)
Ans=(name+" was born in "+str(birthyear))
print(Ans)

what is your nameaakash
what is your age30
1989
aakash was born in 1989

In [24]:
#10.2 birth year with library

age=input("what is your age")

age1=int(age)

from datetime import date
today=date.today()
year=today.year

birthdyear=year-age1
print(birthyear)

what is your age30
1989

In [13]:
#11. Complete Name

firstname=input("what is your first name")
lastname=input("what is your last name")

name=(firstname+" "+lastname)
print(name)

nameBig=name.upper()
nameTitle=name.title()
nameSmall=name.lower()
nameCapitalized=name.capitalize()

print(nameBig)
print(nameTitle)
print(nameSmall)
print(nameCapitalized)

what is your first nameaakash
what is your last nameahuja
aakash ahuja
AAKASH AHUJA
Aakash Ahuja
aakash ahuja
Aakash ahuja

In [25]:
#12. Find characters

random=("hgbcfdaefg")

str.find(random,"da")

5

In [26]:
#12b - cannot find text

random=("hgbcfefg")

str.find(random,"da")

-1